@using System.Net;
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ACaRS MES - System gromadzenia danych</title>
    <meta name="description" content="ACaRS MES - System gromadzenia danych">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="shortcut icon" href="/images/favicon/favicon.ico">

    @Styles.Render("~/Content/css")

    <link href="~/Content/tempusdominus-bootstrap-4.min.css" rel="stylesheet" type="text/css">

    <link href='~/Content/google-fonts.css' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    @Scripts.Render("~/bundles/jquery")
    <script rel="JavaScript">
        var JsonUrl = "@Url.Action("Json", "Rest", new { a = "a" }).TrimEnd('a')";
        var ParametersUrl = "@Url.Action("Json", "Rest", new { a = "ReportParameters" })";
    </script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.ui.theme.css" rel="stylesheet" />

    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/Scripts/umd/popper-utils.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/ACaRS.js"></script>
</head>
<body>
    @Html.Partial("_Menu")
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        @Html.Partial("_Topbar")
        @Html.Partial("_Breadcrumbs")
        <div class="content mt-3">
            <div class="animated fadeIn">
                @RenderBody()
            </div><!-- .animated -->
        </div><!-- .content -->
    </div><!-- /#right-panel -->
    <!-- Right Panel -->
    @Scripts.Render("~/bundles/sufee")


</body>
</html>